:root {
  --light-color-text: #fff;
  --dark-color-text: #333;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container {
  padding-left: 28px;
  padding-right: 28px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #28a745;
  font-size: 35px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-icon {
  fill: #28a745;
}
.part-header-logo {
  color: #fff;
}
.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.list {
}
.header-list-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-link {
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
}

/* main */
.hero {
  padding-top: 280px;
  padding-bottom: 280px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/image-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
}
.hero-container {
  text-align: center;
}
.main-title {
  color: #e9e9e9;
  text-align: center;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 24px;
}
.hero-description {
  color: #e9e9e9;
  text-align: center;
  font-size: 22px;
  line-height: 1.67;
  margin-bottom: 32px;
}
.hero-btn {
  width: 165px;
  height: 48px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 156.4; /* 156.444% */
  background-color: #28a745;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
}

.icon-btn {
  fill: #ffffff;
}
