<header class="header">
  <header class="header">
    <div class="container header-container">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html"><svg class="main-icon" width="39" height="31">
            <use href="./images/symbol-defs.svg#icon-main"></use>
          </svg>&nbsp;Finance&nbsp;<span class="part-header-logo">Ledger</span></a>
        <ul class="header-list list">
          <li class="header-list-item">
            <a class="header-link" href="">Home</a>
          </li>
          <li class="header-list-item">
            <a class="header-link" href="">About</a>
          </li>
          <li class="header-list-item">
            <a class="header-link" href="">Cases</a>
          </li>
          <li class="header-list-item">
            <a class="header-link" href="">Blog</a>
          </li>
          <li class="header-list-item">
            <a class="header-link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>